<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="SC.Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Kernel" version="9.0.2" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Feature.Media" version="1.7.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.Abstractions" version="1.7.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.Common" version="1.7.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.IoC" version="1.7.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.Multisite" version="1.7.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.Mvc" version="1.7.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.RenderingVariants" version="1.7.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.SitecoreExtensions" version="1.7.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.Variants.Abstractions" version="1.7.1" targetFramework="net462" />
</packages>